
body {
    background-color: var(--background);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 2% 6%;
    font-size: 17px;
}

hr {
    background-color: white;
}

.line {
    height: 2px;
    background-color: grey;
    width: 330px;
    margin-top: 5px;
    margin-bottom: 5px;
}

a {
    text-decoration: none;
    background-color: #C6EBC5;
    color: var(--gray-700);
    padding: 10px 7px 10px 7px;
    border-radius: 10px;
    border: 1px solid gray;
    margin-left: 8px;
    margin-right: 8px;
}

a:hover {
    background-color: #a5eba3;
}

:root {
    --background: #B3C8CF;
    --gray-700: #4a5568;
}
